.slider {
  width: 1198px;
  height: 578px;
  box-shadow: 1px 1px 3px 3px rgb(175, 167, 167);
  border-radius: 10px;
  color: 1A212F;
  margin-top: 137px;
  .fish {
    position: absolute;
  }
  h2 {
    text-align: center;
    font-family: Rubik;
    font-size: 36px;
    font-weight: bold;
  }
  .kot {
    width: 600px;
    height: 404px;
    margin: 70px 0 0 167px;
  }
  .ul {
    width: 500px;
    height: 284px;
    box-shadow: 1px 1px 3px 3px rgb(175, 167, 167);
    border-radius: 10px;
    color: 1A212F;
    position: relative;
    right: -690px;
    top: -350px;
    background-color: white;
    .ul-li {
      width: 320px;
      height: 160px;
      list-style: none;
      padding: 40px 0 0 100px;
      h3 {
        font-family: Rubik;
        font-size: 22px;
      }
      ul{
        padding: 30px;
        font-family: Lato;
        font-weight: 400;
        font-size: 16px;
       

        li{
            height: 25px;
            // padding-bottom: 15px;
        }
      }
      button{
        width: 206px;
        height: 50px;
        border-radius: 25px;
        border-color: orange;
        background-color: orange;
        color: white;
        font-family: Lato;
        font-weight: 400;
        font-size: 18px;
        display: flex;
        align-items: center;
        justify-content: space-around;
      }
    }
  }
}
